@import url('https://fonts.googleapis.com/ css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Nav stuff */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
    
}
.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

}
.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    
}
.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

}
.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.banner.active{
    transform: translateX(-400px);
}

#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: rgb(15, 136, 136);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(15, 136, 136);
    
}
#navigation ul li{
    list-style: none;
    background: rgb(15, 136, 136);
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(15, 136, 136);

}


section{
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 

/* end nav stuff */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('pictures/black-wall-texture-17.jpg');
    background-size: cover;
    
}
.contact .content {
    text-align: center;
    max-width: 800px;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(15, 136, 136);

}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.containerMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerMain .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerMain .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerMain .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.containerMain .contactInfo .box .icon img{
    height: 1.2em;
}
.containerMain .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}
.containerMain .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(15, 136, 136);
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: rgb(15, 136, 136);
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(15, 136, 136);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .containerMain{
        flex-direction: column;
    }
    .containerMain .contactInfo{
        margin-bottom: 40px;
    }
    .containerMain .contactInfo, .contactForm{
        width: 100%;
    }
}
